body {
    font-family: 'Georgia', serif;
    margin: 20px;
    padding: 20px;
}

h1 {
    text-align: center;
    color: darkgreen;
    font-size: 2em;
}

h2 {
    color: lightgreen;
    font-size: 1.2em;
    margin-left: 20px;
}